[2020-05-30 15:48] GuySie opened #3 "Play_media does not handle bad request responses"
play_media will call the Meural API to load an item, if this item is not available in the currently displayed playlist. If the item is not available to the Canvas device in the Meural API (because it doesn't exist, or because we don't have subscription access to the item) we'll receive a bad request response. play_media currently does not handle this response.

[2020-05-30 15:51] GuySie opened #4 "play_media can't play local images"
The local call /remote/postcard/ can be used to temporarily override the currently displayed item on the Canvas device. We should support this call so users can send any images (even non-artwork ones) to the Canvas device, especially for automation purposes (e.g. automatically displaying an image of who is ringing the doorbell).

[2020-05-30 15:53] GuySie opened #5 "select_source does not handle playlists that have not yet been synced to the device"
Currently the list of playlists (galleries) that can be selected as an input source are created by combining all available device galleries with all available user galleries. It is possible for a user gallery to exist, but not be synced to the device yet. select_source will attempt to switch to this unsynced gallery using a local call and fail. We should instead detect if a gallery has not been sy

[2020-05-30 15:57] GuySie opened #6 "Media player entity has a non-working TTS input"
Because the meural integration supports service play_media, the TTS input is automatically added to the entity settings of the media control card. However, the meural has no speakers and is incapable of TTS.

[2020-05-30 16:00] GuySie opened #7 "orientationMatch causes current_item to go out of sync"
If orientationMatch is enabled on the Canvas device, the device will automatically switch to an item in the right orientation when the orientation of the device changes. However, the current_item in gallery_status - which we use to detect when we need to get new item details - does not update when this happens. We currently reload the gallery when we detect an orientation change to force an update

[2020-05-30 16:03] GuySie opened #8 "Media type is music instead of image"
The media type reported to HA by this integration is Music, because this allows us to use media_title for artwork name and media_artist for the artist name. Using media type image instead does not display media_artist in the media control card. But factually this is incorrect information, as we are NOT playing music.

[2020-05-30 16:07] GuySie opened #9 "Reduce calls to Meural API"
We've already severely cut back on calls to the Meural API where possible, e.g. no calls are made when the device is sleeping, and all calls to change item or playlist are made locally if possible.

But there are options - like image duration and shuffle - that are only exposed via the device options in the Meural API, and not exposed in the local interface at all. The integration currently polls

[2020-05-30 22:03] GuySie commented on #4
/remote/postcard/ is the same function as preview from the app; it also uses the same duration setting as other previews. Previewing is not the same as playing; this should not be added to play_media.

[2020-05-30 22:03] #4 closed, assigned to nobody

[2020-05-30 22:06] GuySie opened #10 "Make a service `preview_image`"
Make a service meural.preview_image that use the `/remote/postcard` local call to preview the image available at a given URL.

[2020-05-31 11:48] GuySie opened #11 "Meural does not have icon or logo yet"
Home assistant gets its icons and logos from:
https://github.com/home-assistant/brands

This also works for custom components. Meural is not yet listed here, so there is no logo available in Home Assistant for this integration.

[2020-05-31 11:50] GuySie opened #12 "Integration not available in HACS"
Many Home Assistant users only install custom components via HACS. This integration is not yet available in HACS but we should make it available there.

For an integration to be added to HACS we'll need to follow their guidelines:
https://hacs.xyz/docs/publish/start

[2020-05-31 11:58] GuySie opened #13 "Playlists only populate when Home Assistant starts"
Playlists for the device populate when Home Assistant starts. If user or device playlists change while Home Assistant is running they will not update. We should not have to restart Home Assistant to see new playlists.

Additionally, because the playlists are populated with both device and user playlists, some playlists can be in the list which are not synced to the device yet. This leads to the is

[2020-06-02 13:01] GuySie commented on #13
Resolved in:
https://github.com/GuySie/ha-meural/commit/766da1137717891935e54b65a5b7e3ecfd5f780e

[2020-06-02 13:02] #13 closed, assigned to nobody

[2020-06-02 13:03] GuySie commented on #5
Changed approach. Now we only list all local device galleries available. To upload a non-synced user gallery to your device, use the Meural app instead.

See: https://github.com/GuySie/ha-meural/commit/766da1137717891935e54b65a5b7e3ecfd5f780e

[2020-06-02 13:03] #5 closed, assigned to nobody

[2020-06-02 13:03] GuySie commented on #10
Fixed in https://github.com/GuySie/ha-meural/commit/766da1137717891935e54b65a5b7e3ecfd5f780e with all functional code by @thomasvs

[2020-06-02 13:03] #10 closed, assigned to nobody

[2020-06-03 12:30] GuySie commented on #11
High res source images:
https://meural.netgear.com/images/metaImage.png
https://content.abt.com/media/images/brands/meural-logo.svg

[2020-06-03 12:46] GuySie commented on #11
Logos and icons adapted in:
https://github.com/GuySie/brands/tree/master/custom_integrations/meural

[2020-06-03 12:55] GuySie commented on #11
Needs a custom component wheel before we can create a PR for the images.
https://github.com/home-assistant/wheels-custom-integrations

[2020-06-03 12:57] GuySie commented on #11
Custom component wheel needs manifest.json to be in its final location, but folder structure will still change for HACS in https://github.com/GuySie/ha-meural/issues/12

Fix getting into HACS first, then finish this issue.

[2020-06-03 21:30] GuySie commented on #11
Resolved in https://github.com/home-assistant/brands/pull/1683

[2020-06-03 21:30] #11 closed, assigned to nobody

[2020-06-04 10:04] GuySie commented on #12
- [x] Description
- [x] Topics
- [x] README
- [x] info.md
- [x] hacs.json
- [x] Versions
- [x] Integration repository structure
- [x] Integration manifest.json with minimums
- [x] Integration github releases
- [x] Integration wheels custom component (not required)
- [x] Home assistant brands icon and logo
- [x] Test as HACS custom repository
- [x] Include as HACS default repository
- [x] Badges in

[2020-06-04 21:18] balloob opened #21 "Add a unique_id property"
Entities that have a unique ID allow the user to change the name and entity ID without restarting Home Assistant. It also makes sure that your entity ID is reserved for this entity.

Unique ID should be a unique identifier like a serial number or mac address.

[2020-06-05 10:42] GuySie commented on #21
@balloob Ooh, nice. I was wondering how to get that. Added in commit https://github.com/GuySie/ha-meural/commit/df3a2ae483ba08bbff863c94c7cba82f9f7da87d using the productKey (serial number) as identifier.

Does this require anything beyond adding the property?

[2020-06-05 14:24] balloob commented on #21
That's it. Now you can also add device info if you haven't already. You can use (DOMAIN, productKey) as identifier.

[2020-06-05 16:17] GuySie commented on #21
Cool, didn't know we could do that either! Added in commit https://github.com/GuySie/ha-meural/commit/f5e271ca1917302a297c1240a6e64acb07d4567c!

[2020-06-05 16:17] #21 closed, assigned to nobody

[2020-06-05 22:21] GuySie opened #22 "Meural icon does not display yet"
When looking for Meural in the integrations list a placeholder icon is shown. Icon refers to:
https://brands.home-assistant.io/_/meural/icon.png
which does not exist yet, but:
https://brands.home-assistant.io/meural/icon.png
does.

Cache issue?

[2020-06-07 21:29] GuySie commented on #12
Resolved in https://github.com/hacs/default/pull/516.

[2020-06-07 21:29] #12 closed, assigned to nobody

[2020-06-08 10:14] ludeeus commented on #22
Yes, that is due to CloudFlare cache, it's set to a week.

[2020-06-08 11:04] GuySie commented on #22
@ludeeus Ahhhh then this will resolve itself. Thanks! :)

[2020-06-08 13:35] travisghansen opened #25 "Basic questions"
Thanks for the integration! I’ve not purchased one of these devices but am interested. Got a couple questions if you can help:

- can this integration and the device be used without ever getting/using the ‘cloud’ aspect? Can I buy it and use this immediately without siging up for any account anywhere?
- can you send the device arbitrary urls to load images? For example URLs from photos in flickr o

[2020-06-08 14:39] GuySie commented on #25
Hey @travisghansen sure!

Sadly, no. The device arrives dormant and until you have registered a Meural account on their server and connected the device to your account, you can't actually use it at all.

After registering, there is support for using it mostly locally - there's an SD card on the side for images (though you're limited to 4 folders/playlists) and a local web remote that you can use t

[2020-06-08 14:50] travisghansen commented on #25
Thanks for the great responses! I may have some follow ups and so maybe leave this ticket open for a little bit. I'll research the other options you mentioned and see if I'm interested in purchasing something (completely new to the arena so haven't done much research yet).

[2020-06-10 09:26] #22 closed, assigned to nobody

[2020-06-25 18:14] jhein05 commented on #25
Hi and thanks for the great explanation.

If you don't mind a question: Can the color temperature of the screen set manually? If yes, one could probably implement something in HA, that changes the color temperature based on time of day, some external sensor, or sync the color temp with other smart bulbs in use.

[2020-06-25 19:11] GuySie commented on #25
Sadly not, or at least there are no functions currently publicly exposed that would let us do so.

[2020-06-29 12:03] GuySie opened #26 "Integration fails to set up device if an incorrect local IP is synced to the cloud server"
The Meural Canvas syncs to the cloud server irregularly. If network details like the local IP change, it can take hours or days for this information to be updated on the server.

When Home Assistant starts up, this integration gets the local IP from the cloud server. If this IP is incorrect, the integration will fail to set up a Canvas device. This can only be resolved by restarting Home Assistant

[2020-08-08 16:18] gergles opened #27 "403 Accessing Meural API"
I just installed v1.0.2 into my hass virtualenv install and have this error accessing the API:

2020-08-08 11:54:16 ERROR (MainThread) [homeassistant.components.media_player] Error while setting up meural platform for media_player
Traceback (most recent call last):
  File "/srv/homeassistant/lib/python3.8/site-packages/homeassistant/helpers/entity_platform.py", line 187, in _async_setup_platform

[2020-08-08 17:56] GuySie commented on #27
Hey @gergles sorry to hear that. It seems to fail on initially getting the data on the current item being displayed by your device, which for some reason is forbidden to you according to the API. Could you try what happens if you delete the integration, change your Meural device to a different gallery and a different photo being displayed using the Meural app, and reinstall the integration? I wond

[2020-08-08 18:00] GuySie opened #28 "Authorization token can expire"
It seems the authorization token expires after a longer period of time - several months maybe? Requiring the user to reinstall the integration to get a new token. The device will be unavailable once the token expires.

We should, if we detect the token has expired and the integration is no longer authorised to access the API, request the user fill in their login and password again to get a new tok

[2020-08-08 20:26] gergles commented on #27
I have done that and the issue persists, but the numeric portion of the end
of the URL changes.

If there’s additional logging or anything that would help, please let me
know.

Initially when i added the integration, the canvas was asleep, but this
time I made sure it wasn’t before adding the integration.

On Sat, Aug 8, 2020 at 1:56 PM Guy Sie <notifications@github.com> wrote:

[2020-08-09 20:26] gergles commented on #27
For what it’s worth, the app doesn’t seem to know what I’m playing either.
It always says “Playlist not available” even if I change it to a different
playlist through the app. Not sure how else to troubleshoot that. :/

On Sat, Aug 8, 2020 at 1:56 PM Guy Sie <notifications@github.com> wrote:

[2020-08-09 20:33] GuySie commented on #27
There's not a lot of logging built into the integration - mainly because I haven't done much troubleshooting so far - so additional logging would not help much. But it's interesting that the app also doesn't know what is playing. It uses the same API, so that would suggest the API response is not just forbidden to this integration.

Are these playlists you're switching to from Meural themselves, o

[2020-08-20 16:01] GuySie commented on #27
Hi @gergles I've gotten around to doing some SD card testing and can get the same behavior to occur when I launch Home Assistant while my Meural is set to display a playlist from a local SD card - because the item currently displayed is unknown to the API. The error keeps the integration from launching.

Difference between my logs and yours is that my numbers are very low, eg:
aiohttp.client_excep

[2020-08-20 21:57] GuySie commented on #27
@gergles I've created a work-around that fixed my SD-card scenario, it's available in the current dev branch:
https://github.com/GuySie/ha-meural/blob/dev/custom_components/meural/media_player.py

I'm not sure if this will also resolve your issues, as I'm not sure yet what is causing the API error messages you're getting, but at the very least the error should no longer cause the integration to fa

[2020-08-21 12:55] GuySie commented on #3
Fixed in:
https://github.com/GuySie/ha-meural/commit/c7a950e165d0bfe0b2f31b063a8fc2215a4594eb

[2020-08-21 15:22] #25 closed, assigned to nobody

[2020-08-22 03:06] gergles commented on #27
Using your workaround I am able to pair and control my canvas as expected.
It does show what is playing on it and appears to work as designed. I can
change playlists and navigate through them. Next to try is putting a custom
image on it (which is what I really wanted to do all along) but I'm
thrilled to have this functionality working already!

I do not have an SD card in my canvas at all, so I ca

[2020-08-22 08:53] GuySie commented on #27
@gergles Great! I still don't understand why you're getting those forbidden responses from the API, but happy to see that the fix for the SD-card scenario also works for you.

I've added warning-level logging whenever it gets an error reponse from the API while trying to access an item, you may want to keep an eye out on that to see if it happens to you a lot. Looks like this:
"Meural device: Can'

[2020-08-22 08:54] GuySie commented on #26
There's really no way to resolve this from our side - if the IP changed, there is no way to discover the Meural locally. Best solution seems to be to power cycle the Meural to force it to sync with their cloud API.

We should add a logging message to indicate this is the reason why the integration won't complete setup.

[2020-08-22 22:45] GuySie commented on #26
Should the integration complete setup when it can't actually reach the device, hoping it will become available later? Or is it fine that this is a fatal exception that stops the integration in its tracks.

[2020-09-07 20:55] skynet01 commented on #28
Yep happens to me as well and i get the "aiohttp.client_exceptions.ClientResponseError: 401, message='Unauthorized', url=URL('https://api.meural.com/v0/user/devices')" error.

[2020-09-18 09:13] GuySie commented on #3
Released in v.0.1.3.

[2020-09-18 09:13] #3 closed, assigned to GuySie

[2020-09-18 09:14] GuySie commented on #27
Released in v.0.1.3.

[2020-09-18 09:14] #27 closed, assigned to GuySie

[2020-09-18 09:18] GuySie opened #31 "Add support for Media Browser and Media Sources"
Home Assistant 115 added the new features Media Browser and Media Sources:
https://www.home-assistant.io/blog/2020/09/17/release-115/#media-browser

We should support Media Browser, allowing the user to visually browse through the galleries available on the Meural device.

We should support Media Sources, allowing the user to play compatible media made available by other HA integrations.

[2020-09-19 20:10] GuySie commented on #31
Rough support for Media Browser added in https://github.com/GuySie/ha-meural/commit/f6f85abfdd1eeca331cf4ce0d3e3d528a0aa04de.

[2020-09-19 20:11] GuySie opened #32 "Add support for NETGEAR 2FA"
NETGEAR has recently added the option to enable 2 factor authentication to their account system. Current integration authentication only works with regular login and password. We should support users that have enabled 2FA on their accounts.

[2020-09-19 20:17] GuySie opened #33 "Add support for Albums"
Meural has added an additional type of collected images to their system, called Albums. These are linked to corresponding albums on your smartphone and synced by the Meural app. We currently only support displaying Playlists, but should add support for Albums.

[2020-09-22 17:43] GuySie opened #34 "Discrepancies between local and remote galleries"
Local galleries are retrieved using "get_galleries_json". Remote galleries on Meural server are retrieved by combining "user/galleries" and "devices/{device_id}/galleries". We expect the list of local and remote galleries to be the same, but often they are not. We currently resolve this by using the local gallery list as the 'truth', but that does not fix the problem.

We should figure out why the

[2020-10-18 11:20] GuySie commented on #33
On the Meural API side, albums are tracked separately from Galleries, in AlbumIDs[] as opposed to GalleryIDs[]. currentPlaying{} now uses "type" to declare if a gallery or album is being played. currentGallery does not update with album IDs.

[2020-10-18 11:26] GuySie opened #35 "currentGallery no longer provides correct current playlist information"
With the introduction of albums the Meural Canvas no longer correctly reports the currently played set of items using currentGallery. If an album is played, currentGallery will still report the ID of the last playlist played. All functionality that depends on currentGallery should be rewritten to rely on currentlyPlaying instead, which reports both ID and type (either gallery or album).

[2020-10-18 11:40] GuySie commented on #33
On the local side, the device does not seem to make a difference between Albums or Playlists. However, the ID used by the local device for a gallery that is an album is different than the ID used by the Meural servers for an album.

[2020-10-19 18:04] #35 closed, assigned to nobody

[2020-10-19 18:28] GuySie commented on #31
Functionality for playlist thumbnails in media browser was added in https://github.com/GuySie/ha-meural/commit/2bfaa9dcd132f5673b634965077e0bb35c0fb1f2. However, this data is loaded only once when the integration is setup - so only during HA startup. After a certain amount of time the thumbnail access tokens expire and the media browser can't load the thumbnails anymore.

[2020-10-19 19:00] GuySie commented on #33
Because we consider the list of galleries available on the local device leading, and albums available on the device are represented with gallery IDs (that do not match the server album IDs) on the local device, there does not appear to be anything we have to do to support albums.

Albums are given a gallery ID when sent to the local device, and changing galleries to that ID from Home Assistant wor

[2020-10-19 19:01] #33 closed, assigned to nobody

[2020-10-19 19:17] GuySie opened #36 "Media Browser can't access album thumbnails"
Thumbnails for the mediabrowser are requested from the Meural server, based on the IDs of galleries on the local device. The gallery ID that represents albums in the local device does not match the album ID that is used on the Meural server side.

Furthermore, as of yet we do not know the API calls to retrieve lists of albums or their details from the Meural server. As a result we can't find the c

[2020-10-19 19:22] GuySie commented on #31
Expiring thumbnails have been fixed in https://github.com/GuySie/ha-meural/commit/9f7c4ebea5057a606eee368b13b95a478e3d9e6e, however it would be more elegant to use caching to resolve this problem instead of reloading thumbnails every time the media browser is accessed.

[2020-10-24 22:30] GuySie commented on #34
While still interesting, this discrepancy is no longer relevant for operation of the device.

[2020-10-24 22:30] #34 closed, assigned to nobody

[2020-10-26 12:13] GuySie commented on #36
If there is no album thumbnail, we could check the first item from the album's gallery ID and load that as the thumbnail?

[2020-10-26 12:16] GuySie commented on #26
If we can not reach the local IP of the canvas, we abort setup and stop updating the entity.

Ugly kludge for this now in: https://github.com/GuySie/ha-meural/commit/5af3b29ab1db29a08901aa008ce1b14a9c4a1068

[2020-10-26 12:16] #26 closed, assigned to nobody

[2020-10-26 14:02] GuySie commented on #31
First proof of concept to support Media Sources in https://github.com/GuySie/ha-meural/commit/71dff88ef7774d4bdd0205cae7bfb50a95567bec but support for Meural content in Media Browser was disabled for this poc.

[2020-10-26 14:10] GuySie opened #37 "Items played using preview/postcard functions do not update current item information"
While using the postcard/preview function to temporarily play images on the Canvas, the currently played item information is not updated. This is by design in the Canvas, as the preview function is a temporary override that will automatically disappear - the currently played item is still playing, it's just showing something else right now.

However, this may be confusing for users for whom the HA

[2020-10-26 14:20] GuySie commented on #31
Theoretically, we could also add support to use the Meural integration as a Media Source and offer images from Meural to other devices in Home Assistant. But I think that would get me sent a cease & desist really fucking fast, so I'm not touching that.

[2020-10-26 21:16] GuySie commented on #31
First version that supports both Media Sources and Media Browser added in https://github.com/GuySie/ha-meural/commit/0853f798d41cd879782b7d2297e0820e6912ebfc.

Result is a bit wonky because I can't really get the browse media response to work right, but you can use both in this version.

[2020-10-27 09:09] GuySie commented on #31
The Media Browse response consists of the parent and its children - not the subchildren! async_browse_media is called again for every deeper level in the tree, so creating the entire tree and returning it will fail. That explains a lot.

[2020-10-27 11:08] GuySie opened #38 "API Errors should log their error response"
API errors are now excepted with a simple logger message; for troubleshooting the logger should return the actual error response.

[2020-10-27 17:08] GuySie commented on #31
This version supports both Media Sources and Media Browser properly: https://github.com/GuySie/ha-meural/commit/62d29e4f000eb492e1215bd971c60c7f03207372.

[2020-10-27 20:41] GuySie commented on #36
Thumbnails for albums in Media Browser are now created by retrieving the first image from the album: https://github.com/GuySie/ha-meural/commit/b60fd9d96a36bf54a4e3f6ef815224f0ba53ca7f.

[2020-10-27 20:41] #36 closed, assigned to nobody

[2020-10-27 20:42] GuySie commented on #31
Galleries now sorted by name in Media Browser and albums that have no thumbnail retrieve the first image to use as thumbnail: https://github.com/GuySie/ha-meural/commit/b60fd9d96a36bf54a4e3f6ef815224f0ba53ca7f.

[2020-10-27 23:15] GuySie commented on #31
Playing local Media Source images currently works via the external URL - in my case the Nabu Casa cloud URL. This is inefficient as HA is sending data to the cloud to be downloaded back to itself. URLs should be internal.

[2020-10-27 23:18] GuySie commented on #31
Forgot about the SD-card scenario again. Need to rewrite the missing thumbnail code to not throw errors.

[2020-10-28 12:13] GuySie commented on #31
SD-card galleries fixed for the Media Browser in https://github.com/GuySie/ha-meural/commit/de6538f3ecaf26a08eab60de2dab1f0fd85be5a2.

[2020-10-28 12:24] GuySie commented on #31
And internal URLs are now allowed for Media Source in https://github.com/GuySie/ha-meural/commit/2f6fab3228e602ca7e8c059824b9ab479aff3465.

[2020-10-29 14:21] GuySie commented on #38
Fixed in https://github.com/GuySie/ha-meural/commit/aab5b414ba745eeec3e34288827c1cbea22f8207.

[2020-10-29 14:21] #38 closed, assigned to nobody

[2020-10-29 14:24] GuySie commented on #37
Theoretically we could override the current item information when we call the code to preview an image, but we don't know when the Canvas stops previewing. Displaying the preview image data when the preview has ended and we've gone back  to the 'normal' item would be just as confusing.

[2020-10-30 12:23] GuySie commented on #6
Bug reported to HA in https://github.com/home-assistant/frontend/issues/7548

[2020-10-30 13:06] GuySie commented on #8
Issue reported to HA in https://github.com/home-assistant/frontend/issues/7550

[2020-10-30 16:02] #31 closed, assigned to nobody

[2020-11-11 13:13] GuySie commented on #8
Issue fixed in HA in https://github.com/home-assistant/frontend/pull/7389

[2020-11-19 15:25] GuySie commented on #8
Fix released in HA 0.118.

[2020-11-19 15:25] #8 closed, assigned to nobody

[2020-11-21 10:01] GuySie opened #39 "No item information is displayed when playing from SD card"
Item information is currently pulled from the Meural server. But the Meural server does not know anything about the images on the local SD card. If we want to be able to display item information, we need to be able to get this from the local device instead.

[2020-11-22 12:26] GuySie opened #40 "Meural Photo Frame support"
Meural has introduced a new Photo Frame product:
https://meural.netgear.com/photo-frame/

It is currently unknown if HA-meural works with the Photo Frame, as we have no device to test with.

[2020-11-22 12:28] GuySie commented on #39
None of the local web remote calls appears to reveal any information about the currently played item. Unless we can identify the displayed item we can't retrieve any information from the Canvas itself.

[2021-05-07 19:05] yargok commented on #28
This has happened to me twice in the last month - any one else seeing that it is happening more often? It would be nice if this failed more gracefully.  At a minimum, it would be awesome to be able to re-authenticate the integration without having to delete and add it again.

[2021-05-08 13:35] GuySie commented on #28
@skynet01 @yargok Sorry that I haven't been able to resolve this yet! I did not write the authentication code for this integration myself and am having trouble writing and successfully testing proper re-authentication code. I have been looking at the code examples for this in the HA dev docs, they added them earlier this year: https://developers.home-assistant.io/docs/config_entries_config_flow_ha

[2021-05-30 13:30] pratikmistry opened #43 "Meural Unavailable after firmware update - Firmware: 2.2.7_2.0.13"
I just updated the firmware on my Canvas II and the Mini Media card for my Canvas II is now showing unavailable.

[2021-05-31 08:14] GuySie commented on #43
Hey @pratikmistry sorry to hear that! My Meural is not on that firmware yet, I will investigate. Have you tried removing and re-adding the integration? It may be just a case of the token changing when the firmware updated.

[2021-05-31 13:13] pratikmistry commented on #43
Hi Guy,

Yes I tried to reinstall it as well, still the same issue.  It’s not a big deal but it was nice when it was working lol.  It’s such an underrated add on

Sent from my iPhone

[2021-05-31 14:44] GuySie commented on #43
@pratikmistry Great to hear you like it, I'd love to try and keep it working for you :)
Do you know how to get the log out of your Home Assistant? It'd be very helpful for me if you could set your log level to debug, reboot HA, and then wait a few minutes for everything to have started up. Then if you could send me that log file (you can attach it here) I can check if there's any obvious causes fo

[2021-06-03 22:38] pratikmistry commented on #43
Would this be it?  Sent from Mail for Windows 10 From: Guy SieSent: May 31, 2021 10:44 AMTo: GuySie/ha-meuralCc: pratikmistry; MentionSubject: Re: [GuySie/ha-meural] Meural Unavailable after firmware update - Firmware: 2.2.7_2.0.13 (#43) Great to hear you like it, I'd love to try and keep it working for you :)Do you know how to get the log out of your Home Assistant? It'd be very helpful for me if

[2021-06-04 07:59] GuySie commented on #43
@pratikmistry No, but let me give you a quick link to help you find it!

Your log file is called `home-assistant.log` and is stored in the same folder as your Home Assistant `configuration.yaml` file. It's overwritten each time you restart HA:
https://www.home-assistant.io/integrations/logger/

If you restart your HA, then wait a few minutes after everything has started up, then could find this lo

[2021-07-04 09:29] GuySie commented on #43
@pratikmistry I've updated my Meural Canvas to the newest firmware for a while now so I can test with the integration, but have not been able to reproduce this problem. I'm going to close the issue, but feel free to reopen it if you can provide me with a log!

[2021-07-04 09:29] #43 closed, assigned to nobody

[2021-12-09 17:06] Jaharmi commented on #40
Any news/feedback on whether the Photo Frame works with this integration?

[2021-12-11 21:45] GuySie commented on #40
Can't confirm nor deny I'm afraid, I don't have a Photo Frame nor have I heard from any owners of Photo Frames whether it has worked for them.

[2021-12-11 21:46] #39 closed, assigned to nobody

[2022-01-20 02:47] sanghviharshit commented on #28
FYI - I created a merge request #45 for this issue and has been working fine for me

[2022-01-20 04:41] skynet01 commented on #28
OMG you are my hero!
 @GuySie can you merge this pleaazzzz? :)

[2022-01-20 20:11] GuySie commented on #28
Awesome, have pulled this into the dev branch for testing in https://github.com/GuySie/ha-meural/commit/27f96163dd3b065ed787f8169a1fd4003133fb07

[2022-02-05 19:17] TheDK opened #47 "Integration stopped working, no re-setup possible"
Sometime today the Meural stopped working, lots of these:
[code]
I thought OK - typical re-auth situation (as this usually is 401 error)...

When I deleted the integration and tried to run setup again, it fails with this error
[code]
Login in Meural Web and App are working fine, Meural can be controlled this way.

Anything going on?

[2022-02-05 19:44] TheDK commented on #47
Don't know why - it just started working again...

[2022-02-05 19:44] #47 closed, assigned to nobody

[2022-02-06 10:39] GuySie commented on #47
I haven't seen this happen before, but I also got some emails about weird 403 errors happening that I have never experienced before, so there might be something weird going on with the API in general. Will keep an eye out!

[2022-02-06 10:52] TheDK commented on #47
Top, thanks!

[2022-02-12 11:18] GuySie opened #48 "Add additional supported image and video formats"
The full list of formats supported by the Meural according to the Netgear KB is:

.jpg, .jpeg, .png, .bmp, .svg, .gif, .mp4, .mov, and .heic (iOS Live Photos).

We currently only support previewing jpg/jpeg and png images. Should see if the preview functionality supports all other formats noted as well.

https://kb.netgear.com/000060767/Which-image-and-video-formats-does-the-Meural-Canvas-support

[2022-02-13 15:01] GuySie commented on #28
While testing with the new auth code in dev branch, it appears that existing tokens for the Meural are not invalidated when you change your password. This makes it hard to test re-authentication as we can't make the token invalid (as an expiration test) and trigger it to reauth.

Though theoretically, as @sanghviharshit's code gets a new auth token every restart of Home Assistant, anyone who keeps

[2022-02-13 15:31] GuySie commented on #7
Check if syncing the Meural also updates the current_item? If it does that would work better than reloading the gallery, which causes a visible flicker/change.

[2022-02-13 15:40] GuySie commented on #28
Turns out after changing pw for invalidation test, that if you change your Meural password and then restart HA, you will of course also fail to get a new token on start because the saved password will be incorrect. I hadn't thought of that. We still need an actual reauthorization flow when the error is 401 unauthorized.

[2022-02-13 16:33] GuySie commented on #7
Nope, syncing does not update the current_item :( apparently the Canvas itself isn't even aware that it is displaying another item entirely if orientationMatch changes it. Unless Meural fixes this, reloading the gallery is still the best solution.

[2022-03-19 07:59] mcscope opened #49 "Got "Invalid header value char" from aiohttp"
Hello Guy! Cool project.  I am using some of your code as a reference while making my own project - something to display images from the MET on my Meural.  I don't have the home assistant so I'm just robbing some of your python code to make it work.

Anyway I found an bug that I think I should tell you about, in case you hit it. I got AIOHTTP to choke on some image file and crash. This is from Loc

[2022-03-21 15:25] GuySie commented on #6
Resolved in Home Assistant 2022.3. TTS is now moved to the Media Browser.

[2022-03-21 15:25] #6 closed, assigned to nobody

[2022-04-04 08:16] snowypineapple commented on #40
Confirming I've been successfully using this with the Photo Frame for the past six months. Also using with a Canvas. Thank you!

Device info for the photo frame:

[2022-04-04 15:17] GuySie commented on #40
@snowypineapple That's great news, thanks for the information! I'll close this issue then.

[2022-04-04 15:17] #40 closed, assigned to nobody

[2022-05-04 18:29] GuySie commented on #49
Hey! I did not find a solution to the previous uploaded postcard issue - mainly because, strangely enough, I have never encountered it - but @sanghviharshit has. Check out his PR for a workaround: https://github.com/GuySie/ha-meural/pull/51

[2022-05-05 08:57] GuySie commented on #28
Really happy to say this longstanding issue has been fixed thanks to @sanghviharshit!

[2022-05-05 08:57] #28 closed, assigned to nobody

[2022-07-18 11:42] lkroeker opened #52 "The media controls don't honor inverted gesture direction setting"
I'd like to start by saying that this integration overall is awesome; the control of the Meural works really well, quickly and easily, Bravo!

However, one bug is that I have our canvas set to reverse the gesture direction (it feels more natural for swiping images back and forth) and the media 'forward' and 'back' controls are swapped within HA. Hopefully a simple fix of reading that setting from

[2022-07-18 22:03] GuySie commented on #52
@lkroeker Thanks for your kind words! I had no idea the gesture direction setting also changed the direction for the hotkeys. Should be a trivial fix, we already get the data for that setting (gestureFlip) by default from the server.

[2022-07-19 21:25] GuySie commented on #52
Bugfix in https://github.com/GuySie/ha-meural/commit/cb0515bf4f0ded6ccd2ddaa5dfbd3148dca93dc0 should do it!

[2022-07-24 09:40] GuySie commented on #52
And released in https://github.com/GuySie/ha-meural/releases/tag/v1.0.1 :)

[2022-07-24 09:40] #52 closed, assigned to nobody

[2022-11-16 12:47] cmaglio opened #53 "2nd Meural "Unavailable""
Hello, great work on this integration!

I have 2 Meurals, both seemed to be added without issue during the setup process. However, one of the Meurals seems to work perfectly in HA while the other was instantly "Unavailable" and HA does not appear to be getting any information from it. Both Meurals are "Online" in the Meural Netgear App and I have tried power cycling the "Unavailable" Meural to no

[2022-11-16 16:04] cmaglio commented on #53
Update... this morning, the scenario flip flopped and the "Unavailable" Meural started working. At the same exact time, the previously working Meural became "Unavailable". I believe this is too much of a coincidence to happen at the exact same moment.

Both are still showing "Online" in the Meural App... so, I don't expect this is a device specific or network issue.

![image](https://user-images.g

[2022-11-16 20:00] GuySie commented on #53
@cmaglio Hmmm, that's an interesting bug! Could you send me a debug log from after a restart, until after the meural devices have finished setting up (so once you can control the one that works)? I have an idea of what might be happening but need a log to see what it says.

[2022-11-16 20:48] cmaglio commented on #53
@GuySie  I sent a debug level log to your email. Please let me know if you need more detail than provided. Thank you!

[2022-11-16 21:40] GuySie commented on #53
@cmaglio Super, thanks! According to the logs I was thinking in the right direction - but it's kinda weird how the bug is triggering.

Basically, during setup the integration tests if each Meural is reachable on its local IP (as known by the Meural server), and if not it will abort setup for that device. The idea behind it is that if you have multiple Meurals but they're not all on the local netwo

[2022-11-16 22:26] cmaglio commented on #53
Interesting... I was able to control both Meurals via the Meural app and then immediately restarted HA. This time... HA wasn't able to establish a connection to either Meural. Yet, when I opened the app, both are still "online" and controllable from the Meural app.

I have the same errors in the startup logs for both Meurals as the one I sent you.

This has got me scratching my head now as well...

[2022-11-17 10:55] GuySie commented on #53
@cmaglio Nope, nothing special is needed. The Meural should just respond to a request to the local web remote on your device to get a list of all locally stored playlists. It does only try once, which I suppose may be too aggressive. Let me take a look and see if I can make it a bit more forgiving.

[2022-11-18 04:58] dgohuoba opened #54 "Unable to start Meural Media Player after Installation"
I've installed HA-Meural and completed the setup.   The media player never starts.

Here is the log:
======================

This error originated from a custom integration.

Logger: homeassistant.core
Source: custom_components/meural/pymeural.py:146
Integration: Meural (documentation, issues)
First occurred: 10:41:35 PM (5 occurrences)
Last logged: 10:54:06 PM

Error executing service: <ServiceCa

[2022-11-18 10:42] GuySie commented on #54
@dgohuoba Oh, that's weird. Could you send me a debug log from a restart up to when the meural is done setting up? I'm not sure what's happening here yet.

[2022-11-18 12:38] dgohuoba commented on #54
2022-11-18 06:30:39.250 WARNING (MainThread) [homeassistant.components.media_player] Setup of media_player platform meural is taking over 10 seconds.
2022-11-18 06:30:47.323 ERROR (MainThread) [custom_components.meural.media_player] Meural device meural: Setup. Error while contacting local device, aborting setup
Traceback (most recent call last):
File "/config/custom_components/meural/pymeural.py"

[2022-11-18 12:55] GuySie commented on #54
@dgohuoba Huh, that's different from what's happening in https://github.com/GuySie/ha-meural/issues/53 but it seems related as you're both suddenly getting this startup problem within days of each other.

Could you check 4 things for me:

1. Can you control the Meural from their mobile app? E.g. go back and forward between art?
2. If you go to the Meural web interface and log in: https://my.meural

[2022-11-18 13:41] dgohuoba commented on #54
1. Yes. I can control the art through the mobile application
2. Canvas Software Version - 2.0.9
3. Yep. The IP address match in both locations
4. Got a timeout going through the URL. Never seen this before. Not sure what it does
5. Home Assistant 2022.11.2

[2022-11-18 13:44] dgohuoba commented on #54
Correction on item 4. I was able to view the remote interface using the browser on mobile phone

[2022-11-18 18:30] GuySie commented on #54
Hmmmm, that is very interesting on 4. That request timing out is what is causing the setup to abort. Can you check if it's consistently unreachable from your desktop? I wonder if Meural changed something to the way the web remote can be reached.

[2022-11-18 20:57] dgohuoba commented on #54
Tried several times on desktop browser and it's unreachable.

[2022-11-19 00:08] GuySie commented on #53
@cmaglio Could you try something for me? After seeing https://github.com/GuySie/ha-meural/issues/54 I think this may be related.

Can you, for both of your Meural devices, check what their local IP is and then go to http://**(fill in the device's local IP here)**/remote in the browser? Do you get a remote control interface for that device, or does it time out? If it times out, is that consistent w

[2022-11-19 04:59] dgohuoba commented on #54
Just an update. I got this working. A few months ago, I purchased a new wifi router and connected the Meural canvas to the new network but my HA (hosted in a VM on my NAS) was still using the old network router. I reset the wifi setting on the canvas to use the old router and everything started working.  Appreciate the help.

[2022-11-19 04:59] #54 closed, assigned to nobody

[2022-11-19 12:24] cmaglio commented on #53
@GuySie I was able to view the remote URL you mentioned on both Meurals, loaded up in browser almost instantly. I even hit refresh a few times to confirm it was loading consistently and fast. I also confirmed I was able to control both Meurals consistently from those webpages,

Since that seemed to be working so well... I decided to try to restart HA, and I still only ended up with one Meural bein

[2022-11-20 17:43] cmaglio commented on #53
@GuySie Does Meural and this integration, by chance, use UPnP?

I have been getting some intermittent errors in HA on my Sonos integration as well (UPnP 501 Errors). I was doing some troubleshooting today trying to figure out the source of these Sonos errors... and in the midst of trying to isolate the Sonos errors to a specific device (if possible)... I noticed, for the first time ever, the HA Me

[2022-11-20 22:43] GuySie commented on #53
@cmaglio Thanks for checking the remote URLs for me! It was a bit farfetched that it would be the same issue, as the integration is raising a different error, but I wanted to make sure. I'm also not aware of Meural using UPnP, and the integration doesn't use it either. To be honest, I'm a bit stumped here. Especially now that you did manage to get them working at the same time at least once, which

[2022-11-21 17:40] cmaglio commented on #53
No problem, both Meurals are still partially working today. They are "Available" in the interface and I can confirm that I can control them by turning them off and on via the integration. However, the "preview" image is not loading for either device, and I'm not sure if the full functionality is working or not. Let me know if there is anything that I could try to get a better handle on their state

[2022-11-21 18:37] GuySie commented on #53
@cmaglio Oh, that's also weird that the cover images in the media player don't work. Those images don't come from your local Meural device, those come from the Meural servers - any problems with reaching your local devices should not affect getting those images, especially since the Meural servers did successfully send you the data needed for them to set up. Is the Meural integration showing any m

[2022-11-22 03:41] cmaglio commented on #53
Yes, getting some different errors this time around. Here is one of them:

This error originated from a custom integration.

Logger: homeassistant.helpers.entity
Source: custom_components/meural/media_player.py:235
Integration: Meural (documentation, issues)
First occurred: 10:37:22 PM (14 occurrences)
Last logged: 10:39:31 PM

Update for media_player.north_office_wall fails
Traceback (most recent

[2022-11-22 15:56] GuySie commented on #53
Okay, that is unexpected. Could you remove the integration and install it again, so you have to fill in your login/password again? I'm wondering if there's something wonky with your authentication on the Meural side.

I think I'm gonna send you a modified version with more debug logging, just to find out what's happening here.

[2022-11-22 17:14] cmaglio commented on #53
Guy, I removed the integration and re-added it. The integration setup process went as smooth as it did last time. I added my credentials and then added both Meurals to an existing area. Both Meurals are available and the tiles are loading with the current image. All seems well except I am still getting some errors in the logs... so, perhaps there is still a bug hiding somewhere?

Current log error